<!-- Start Footer -->
    <footer class="footer-box">
        <div class="container" style="color: aliceblue; height:150px;">
            <div style="width:100%;">
                <div style="width:40%; height:150px; float:left;">
                    <h1 style="color:yellow;">Location</h1>
                    <p style="color:white;">Azad Chowk Bagha Baba Road Rustampur Gorakhpur</p>
                    <p style="color:white;">Pincode:273001</p>
                    <p style="color:white;">Call now : 9454537628</p>
                </div>
                <div style="width:60%; margin-left:150px;">
                    <h1 style="color:white;">Useful Links</h1>
                        <ul>
                            <a href="/about/"><li style="color:white;">About</li></a>
                            <a href="/courses/"><li style="color:white;">Courses</li></a>
                            <a href="/faculty/"><li style="color:white;">Faculty</li></a>
                            <a href="/gallery/"><li style="color:white;">Login</li></a>
                        </ul>
                </div>
            </div>
        </div>
        <br>
        <div style="width:100%; text-align: center;">
            <a href="https://deep-narayan-upadhyay.jimdosite.com/"><b style="width:75%%;  color:white;" >Designed and Developed by @Deep Narayan Upadhyay</b></a>
        </div>
    </footer>
    <!-- End Footer -->