<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript">
    	
</script>
    <title>Results</title>
  </head>
  <body>
<a href="/student/home"><button>Home</button></a>

 	

<div>
	<h2 align="center"><u>Questions with Answers</u></h2><br><br>
	<div class="container">
		<a href="/student/home"><button class="btn btn-success">Home</button></a>
		<h3 align="right">Mark Obtained: {{ mark }}</h3>
			
		<div>
			{% for i,j in nques %}
			<div style="border:2px solid black; margin-top:10px">
				<div class="container">
					<div><h3>Q: {{ i.question }}</h3></div>
					<div>&emsp;&emsp;A:&nbsp;{{ i.optiona }}</div>
					<div>&emsp;&emsp;B:&nbsp;{{ i.optionb }}</div>
					<div>&emsp;&emsp;C:&nbsp;{{ i.optionc }}</div>
					<div>&emsp;&emsp;D:&nbsp;{{ i.optiond }}</div>
					<br>
					<button class="btn btn-primary">Correct Option is :{{ i.correct }}</button>
					<button class="btn btn-danger">Your Selected Answer is :{{ j }}</button>
					<br>
				</div>
				<br>
		    </div>
			<br>
			{% endfor %}
		</div>
	</div>
<br>
</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>





